<!DOCTYPE html>
<html>
<head>
    <title>Live Message Updates</title>
    <!-- Include Socket.IO client library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
    <h1>Live Message Updates</h1>
    <div id="messages"></div>

    <script type="text/javascript">
        // Connect to the Socket.IO server (this connects to the same origin by default)
        var socket = io();
    
        socket.on('connect', function() {
            console.log('Connected to Socket.IO server');
        });
    
        // Listen for 'new_message' events
        socket.on('new_message', function(data) {
            console.log('Received new_message event:', data);
            var messagesDiv = document.getElementById('messages');
            var messageEl = document.createElement('div');
            messageEl.innerHTML = "New message: " + JSON.stringify(data);
            messagesDiv.appendChild(messageEl);
        });
    </script>
    
</body>
</html>
